<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../elements/tag_head.ejs%>

</head>
<body>
<!--
	Upper Header Section
-->
<% include ../elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include ../elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include ../elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include ../elements/sidebar.ejs%>
        <div class="span9">
            <!--
            New Products
            -->
            <div class="well well-small">
                <h3>Sản phẩm </h3>
                <%if (product_list.length===0){%>
                    Không tìm thấy sản phẩm
                <%}%>
                <div class="row-fluid">
                    <% product_list.forEach(function(product) { %>
                        <ul class="thumbnails span4">
                            <div class="thumbnail">
                                <a href="<%= product.uriDetail %>" class="overlay"></a>
                                <a href="<%= product.uriDetail %>"><img src='<%= product.thumbnail %>' alt=""></a>
                                <div class="caption cntr">
                                    <p><%= product.name %></p>
                                    <p><strong> <%= product.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"đ" %></strong></p>
                                    <h4><a class="shopBtn" href="#" title="add to cart">Thêm vào giỏ </a></h4>

                                    <br class="clr">
                                </div>
                            </div>

                        </ul>
                    <% }); %>
                </div>




            </div>

            <ul class="pagination modal-3">
                <%for (i=1;i<active.length;i++){
                if (active[i]==="class=active"){%>
                <li><a href="products?page=<%=i%><%= condition%>" class="prev">&laquo</a></li>
                <%}}%>
                <%for (i=0;i<active.length;i++){%>
                <li> <a href="products?page=<%=i+1%><%= condition%>" <%= active[i]%>><%=i+1%></a></li>
                <%}%>
                <%for (i=0;i<active.length-1;i++){
                if (active[i]==="class=active"){%>
                <li><a href="products?page=<%=i+2%><%= condition%>" class="next">&raquo;</a></li>
                <%}}%>

            </ul>




        </div>
    </div>
    <!--
    Clients
    -->
    <% include ../elements/client.ejs%>
    <!--
    Footer
    -->
    <% include ../elements/footer.ejs%>

</div><!-- /container -->

<% include ../elements/copyright.ejs%>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<% include ../elements/script_end.ejs%>
</div>
</body>
</html>
