<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../elements/tag_head.ejs%>

</head>
<body>
<!--
	Upper Header Section
-->
<% include ../elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include ../elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include ../elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include ../elements/sidebar.ejs%>
        <% product_list.forEach(function(product) { %>
            <div class="span9">
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span5">
                                <img src='<%= product.thumbnail %>' alt=""></a>

                            </div>
                        <div class="span7">
                            <h3><%= product.name %></h3>
                            <hr class="soft"/>
                            <p> Giá: <%= product.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"đ" %></p>
                            <p> Giới thiệu: <%= product.description %></p>
                            <p> Trạng thái: <%= product.status %></p>
                            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span>Thêm vào giỏ</button>


                        </div>
                            </div>
                        </div>

                <%include ../elements/comment.ejs%>

                    </div>
                    <hr class="softn clr"/>




                </div>
            </div>
        <% }); %>


        <!--
        Clients
        -->
        <% include ../elements/client.ejs%>
        <!--
        Footer
        -->
        <% include ../elements/footer.ejs%>

    </div><!-- /container -->

    <% include ../elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ../elements/script_end.ejs%>
</div>
</body>
</html>
