<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../elements/tag_head.ejs%>

</head>
<body onload="loadItem()">
<!--
	Upper Header Section
-->
<% include ../elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include ../elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include ../elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <% include ../elements/sidebar.ejs%>
        <% product_list.forEach(function(product) { %>
            <div class="span9">
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span5">
                                <img src='<%= product.thumbnail %>' alt=""></a>

                            </div>
                        <div class="span7">
                            <h3><%= product.name %></h3>
                            <hr class="soft"/>
                            <p> Giá: <%= product.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"đ" %></p>
                            <p> Giới thiệu: <%= product.description %></p>
                            <p> Trạng thái: <%= product.status %></p>
                            <p>Số lượng:
                                <input class="input-number" style="max-width:34px" placeholder="1" id="number<%=product._id%>" size="16" type="text" value="1">
                                <button class="btn-number" type="button" onclick="removeProduct()"> - </button>
                                <button class="btn-number" type="button" onclick="addProduct()"> + </button>
                            </p>

                            <button type="submit" onclick="MultiAddCart()" class="shopBtn"><span class=" icon-shopping-cart"></span>Thêm vào giỏ</button>
                            <script>
                                function addProduct() {
                                    document.getElementById("number<%=product._id%>").value++;
                                }

                                function removeProduct() {
                                    let number = document.getElementById("number<%=product._id%>");
                                    if (number.value>0)
                                    {
                                        number.value--;
                                    }
                                }

                                function MultiAddCart() {
                                    let number=parseInt(document.getElementById("number<%=product._id%>").value);
                                    let item = document.getElementById("item");
                                    let loadItem=localStorage.getItem("item");
                                    let loadListItem=localStorage.getItem("listItem");
                                    for (let i=0;i<number;i++)
                                    {
                                        loadItem++;
                                        loadListItem=loadListItem+"-"+"<%=product._id%>";
                                    }
                                    localStorage.setItem("item",loadItem);
                                    localStorage.setItem("listItem",loadListItem);
                                    alert("Bạn đã mua "+number+" sản phẩm "+"<%=product.name%>");
                                    item.innerText=" Giỏ hàng ("+loadItem+")";
                                }
                            </script>

                        </div>
                            </div>
                        </div>

                <%include ../elements/comment.ejs%>

                    </div>
                    <hr class="softn clr"/>




                </div>
            </div>
        <% }); %>


        <!--
        Clients
        -->
        <% include ../elements/client.ejs%>
        <!--
        Footer
        -->
        <% include ../elements/footer.ejs%>

    </div><!-- /container -->

    <% include ../elements/copyright.ejs%>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ../elements/script_end.ejs%>
</div>
</body>
</html>
