<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body <%if (!userdata) {%>onload="loadItem()"<%}%>>
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>

<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>


    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Giỏ</li>
            </ul>
            <div class="well well-small">
                <%let num=0;
                for (let i=0;i<number.length;i++){
                    num+=number[i];
                }%>
                <h1>Thông tin giỏ hàng<small class="pull-right" id="NumberOfProduct"><%=num%> sản phẩm</small></h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Mô tả</th>
                        <th>Tình trạng</th>
                        <th>Đơn giá</th>
                        <th>Số lượng </th>
                        <th>Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% let i=0; let sum=0;
                    product_list.forEach(function (product) {%>
                    <tr>
                        <td><img width="100" src="<%= product.thumbnail%>" alt=""></td>
                        <td><%= product.name%></td>
                        <td><%= product.description%></td>
                        <td><%= product.status%></td>
                        <input id="price<%=product._id%>" type="hidden" value="<%=product.price%>"/>
                        <td><%= product.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') +"đ"%></td>
                        <td>
                        <input class="span1" style="max-width:34px" placeholder="1" id="number<%=product._id%>" size="16" type="text" value="<%= number[i]%>" readonly>
                                <div class="input-append">
                                <button class="btn btn-mini" type="button" <%if (!userdata){%> onclick="removeItem('<%=product._id%>')" <%}else{%> onclick="removeItemOnline('<%=product._id%>')"<%}%>>-</button>
                                    <button class="btn btn-mini" type="button" <%if (!userdata){%> onclick="shop('<%=product._id%>')" <%}else{%> onclick="shopOnline('<%=product._id%>')"<%}%>> + </button>
                                    <button class="btn btn-mini btn-danger" type="button" <%if (!userdata){%> onclick="removeAllItem('<%=product._id%>')" <%}else{%> onclick="removeAllItemOnline('<%=product._id%>')"<%}%>><span class="icon-remove"></span></button>

                        </div>
                        </td>
                        <td id="sum<%=product._id%>"><%= (product.price*number[i]).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') +"đ"%></td>
                    </tr>
                    <%sum+=product.price*number[i++];});%>

                    <script>
                        function removeItemOnline(id) {
                            let item = document.getElementById("item");
                            let AmountOfItem=parseInt(document.getElementById("amountInCart").value);
                            let number=document.getElementById("number"+id);
                            if (number.value>0)
                            {
                                number.value=number.value-1;
                                AmountOfItem--;
                            }
                            else
                            {
                                return;
                            }

                            document.getElementById("NumberOfProduct").innerText=AmountOfItem+" sản phẩm";
                            item.innerText=" Giỏ hàng ("+AmountOfItem+")";
                            document.getElementById("amountInCart").value=AmountOfItem;

                            Caculate(id,2,0);
                        }

                        function shopOnline(id) {
                            let item = document.getElementById("item");
                            let AmountOfItem=parseInt(document.getElementById("amountInCart").value);
                            let number=document.getElementById("number"+id);

                            number.value=parseInt(number.value)+1;
                            AmountOfItem++;

                            document.getElementById("NumberOfProduct").innerText=AmountOfItem+" sản phẩm";
                            item.innerText=" Giỏ hàng ("+AmountOfItem+")";
                            document.getElementById("amountInCart").value=AmountOfItem;

                            Caculate(id,1,0);
                        }

                        function removeAllItemOnline(id) {
                            let item = document.getElementById("item");
                            let AmountOfItem=parseInt(document.getElementById("amountInCart").value);
                            let number=document.getElementById("number"+id);
                            let numberPre=number.value;

                            number.value=0;
                            AmountOfItem=AmountOfItem-numberPre;

                            document.getElementById("NumberOfProduct").innerText=AmountOfItem+" sản phẩm";
                            item.innerText=" Giỏ hàng ("+AmountOfItem+")";
                            document.getElementById("amountInCart").value=AmountOfItem;

                            Caculate(id,3,numberPre);
                        }
                    </script>

                    <tr>
                        <td colspan="6" class="alignR sumPrice">Tổng tiền:	</td>
                        <input id="sum" type="hidden" value="<%=sum%>"/>
                        <td class="sumPrice" id="sumPrice"><%=sum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') +"đ";%></td>
                    </tr>
                    </tbody>
                </table><br/>


                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            <form class="form-inline">
                                <label style="min-width:159px"> VOUCHERS Code: </label>
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="shopBtn"> Thêm</button>
                            </form>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <a href="/products" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Tiếp tục mua hàng </a>
                <%if(userdata){%>
                <form action="/savecart" id="saveCartForm" method="post" hidden>
                    <input type="text" id="stringItem" name="stringItem"/>
                    <input type="number" id="pay" name="pay"/>
                </form>
                    <button class="shopBtn btn-large pagination-right" onclick="SaveCart(0)">Lưu lại giỏ hàng</button>
                <script>
                    function SaveCart(pay) {

                        let arrayItem=[];
                        let number=[];
                        <%product_list.forEach(function (product) {%>
                        arrayItem.push('<%=product._id%>');
                        number.push(document.getElementById('number<%=product._id%>').value);
                        <%})%>
                        if (pay===1 && arrayItem.length===0)
                        {
                            alert("Giỏ hàng trống");
                            return;
                        }
                        let stringItem="";
                        for (let i=0;i<arrayItem.length;i++)
                        {
                            //alert(number[i]);
                            for (let j=0;j<parseInt(number[i]);j++)
                            {
                                stringItem=stringItem+"-"+arrayItem[i];
                            }
                        }
                        document.getElementById('stringItem').value=stringItem;
                        document.getElementById('pay').value=pay;
                        document.getElementById('saveCartForm').submit();
                        if (pay===0)
                        {
                            alert("Lưu giỏ hàng thành công");
                        }
                    }
                </script>
                <%}%>
                <button <%if (userdata){%>onclick="SaveCart(1)"<%}else{%>onclick="location.href='/users/login'"<%}%> class="shopBtn btn-large pull-right">Tiếp <span class="icon-arrow-right"></span></button>
            </div>
        </div>
    </div>
    <!--
    Clients
    -->
    <% include elements/client.ejs%>

    <!--
    Footer
    -->
    <% include elements/footer.ejs%>
</div><!-- /container -->

<% include elements/copyright.ejs%>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<% include elements/script_end.ejs%>
</body>
</html>
