<!DOCTYPE html>
<html lang="en">
<head>
  <% include elements/tag_head.ejs%>

</head>
<body <%if (!userdata){%>onload="loadItem()"<%}else{%>onload="resetLocalData()"<%}%>>
<!--
	Upper Header Section
-->

<% include ./elements/upper_header.ejs%>
<!--

-->
<!--
Lower Header Section
-->
<div class="container">
  <% include elements/lower_header.ejs%>

  <!--
  Navigation Bar Section
  -->
  <% include elements/navbar.ejs%>
  <!--
  Body Section
  -->
  <div class="row">
    <% include elements/sidebar.ejs%>

    <div class="span9">
      <div class="well np">
        <div id="myCarousel" class="carousel slide homCar">
          <div class="carousel-inner">
            <div class="item">
              <img style="width:100%" src="assets/img/bootstrap_free-ecommerce.png" alt="bootstrap ecommerce templates">

            </div>
            <div class="item">
              <img style="width:100%" src="assets/img/carousel1.png" alt="bootstrap ecommerce templates">

            </div>
            <div class="item active">
              <img style="width:100%" src="assets/img/carousel3.png" alt="bootstrap ecommerce templates">

            </div>
            <div class="item">
              <img style="width:100%" src="assets/img/bootstrap-templates.png" alt="bootstrap templates">

            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
      <!--
      New Products
      -->
      <div class="well well-small">
        <h3>Sản phẩm mới</h3>
        <hr class="soften"/>
        <div class="row-fluid">
          <div id="newProductCar" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <ul class="thumbnails">
                  <%let n=4;
                  if (productsNew.length<4)
                  {
                    n=productsNew.length;
                  }
                  for (let i=0;i<n;i++){%>
                  <li class="span3">
                    <div class="thumbnail">
                      <a class="zoomTool" href="<%=productsNew[i].uriDetail%>"><span class="icon-search"></span> Xem nhanh</a>
                      <a href="<%=productsNew[i].uriDetail%>" class="tag"></a>
                      <a href="<%=productsNew[i].uriDetail%>"><img src="<%=productsNew[i].thumbnail%>" alt="bootstrap-ring"></a>
                    </div>
                  </li>
                  <%};%>
                </ul>
              </div>
              <%if (productsNew.length>4){%>
                <div class="item">
                  <ul class="thumbnails">
                    <%let n=8;
                      if (productsNew.length<8)
                      {
                        n=productsNew.length;
                      }
                    for (let i=4;i<n;i++){%>
                    <li class="span3">
                      <div class="thumbnail">
                        <a class="zoomTool" href="<%=productsNew[i].uriDetail%>"><span class="icon-search"></span> Xem nhanh</a>
                        <a href="<%=productsNew[i].uriDetail%>" class="tag"></a>
                        <a href="<%=productsNew[i].uriDetail%>"><img src="<%=productsNew[i].thumbnail%>" alt="bootstrap-ring"></a>
                      </div>
                    </li>
                    <%};%>
                  </ul>
                </div>
              <%}%>
            </div>
            <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
          </div>
        </div>

      </div>
      <!--
      Featured Products
      -->
      <div class="well well-small">
        <h3><a class="btn btn-mini pull-right" href="/products" title="Xem thêm">Xem thêm<span class="icon-plus"></span></a> Tiêu biểu  </h3>
        <hr class="soften"/>
        <div class="row-fluid">
          <ul class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <a class="zoomTool" href="/products" title="Xem thêm"><span class="icon-search"></span> Xem nhanh</a>
                <a  href="/products"><img src="assets/img/d.jpg" alt=""></a>
                <div class="caption">
                  <h5>Vòng bạc</h5>
                  <h4>
                    <a class="defaultBtn" href="/products" title="Chi tiết"><span class="icon-zoom-in"></span></a>
                    <a class="shopBtn" href="/products" title="Thêm vào giỏ"><span class="icon-plus"></span></a>
                    <span class="pull-right">$22.00</span>
                  </h4>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="well well-small">
        <a class="btn btn-mini pull-right" href="/products">Xem thêm <span class="icon-plus"></span></a>
        Nổi tiếng
      </div>
      <hr>
      <div class="well well-small">
        <a class="btn btn-mini pull-right" href="/products">Xem thêm<span class="icon-plus"></span></a>
        Bán chạy nhất
      </div>
    </div>
  </div>
  <!--
  Clients
  -->
  <% include elements/client.ejs%>

  <!--
  Footer
  -->
  <% include elements/footer.ejs%>

</div><!-- /container -->
<% include elements/copyright.ejs%>

<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->

<%include elements/script_end.ejs%>
</body>
</html>