<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body onload="loadItem()">
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>

    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>

        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Đăng ký</li>
            </ul>
            <hr class="soft"/>
            <div class="well">
                <form class="form-horizontal" action="/users/register" method="post">
                    <h3>Đăng ký</h3>

                    <% include ./partials/messages.ejs%>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Tài khoản <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" placeholder=""name="username"value="<%=typeof username !='undefined' ? username :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Mật khẩu <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" placeholder=""name="password" value="<%=typeof password !='undefined' ? password :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Nhập lại mật khẩu <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" placeholder=""name="password2"value="<%=typeof password2 !='undefined' ? password2 :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFname">Họ tên<sup>*</sup></label>
                        <div class="controls">
                            <input type="text" id="inputFname" placeholder=""name="name"value="<%=typeof name !='undefined' ? name :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Địa chỉ <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" placeholder=""name="address"value="<%=typeof address !='undefined' ? address :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Số điện thoại <sup>*</sup></label>
                        <div class="controls">
                            <input type="number" placeholder=""name="phone"value="<%=typeof phone !='undefined' ? phone :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" placeholder=""name="email"value="<%=typeof email !='undefined' ? email :''%>">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="exclusive shopBtn">Đăng ký</button> <a href="/users/login">Đăng nhập</a>
                        </div>
                    </div>
                </form>
            </div>




        </div>
    </div>
    <!--
    Clients
    -->
    <% include elements/client.ejs%>
    <!--
    Footer
    -->
    <% include elements/footer.ejs%>
</div><!-- /container -->

<% include elements/client.ejs%>

<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<% include elements/script_end.ejs%>>
</body>
</html>
