<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body <%if (!userdata) {%>onload="loadItem()"<%}%>>
<!--
	Upper Header Section
-->
<% include ./elements/upper_header.ejs%>

<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>


    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                <li class="active">Lịch sử mua hàng</li>
            </ul>
            <div class="well well-small">
                <%if(userdata){%>
                <h1>Sản phẩm đã mua</h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng </th>
                        <th>Ngày mua </th>
                        <th>Tổng</th>
                        <th>Trạng thái</th>

                    </tr>
                    </thead>
                    <tbody>
                    <%for (let i=0;i<orders.length;i++){%>
                        <tr>
                            <td><img width="100" src="<%= products[i].thumbnail %>" alt=""></td>
                            <td><%= products[i].name %></td>
                            <td><%= products[i].price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"đ" %></td>
                            <td><%= orders[i].quantity %></td>
                            <%let date=orders[i].daySale+"/"+orders[i].monthSale+"/"+orders[i].yearSale%>
                            <td><%=date%></td>
                            <td><%=(products[i].price*orders[i].quantity).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+"đ"%></td>
                            <%let status=""; let color="black";
                            if (orders[i].confirm===0){
                                status="Chờ xác nhận";
                                color="red";
                            }else if (orders[i].confirm===1) {
                                status="Đang giao hàng";
                                color="orange";
                            }else if (orders[i].confirm===2){
                                status="Đã giao hàng";
                                color="deepskyblue"
                            }%>
                            <td style="color: <%=color%>;"><%=status%></td>

                        </tr>
                    <%}%>
                    </tbody>
                </table><br/>
                <%}%>
                    <%if(!userdata){%>
                        <h3 style="color: red">Hãy đăng nhập để thực hiện chức năng này</h3>

                    <%}%>


                <a href="/products" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Tiếp tục mua hàng </a>

            </div>
        </div>
    </div>
    <!--
    Clients
    -->
    <% include elements/client.ejs%>

    <!--
    Footer
    -->
    <% include elements/footer.ejs%>
</div><!-- /container -->

<% include elements/copyright.ejs%>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<% include elements/script_end.ejs%>
</body>
</html>
