<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/sidebar.ejs%>
        <div class="span9">




            <div class="well">
                <form class="form-horizontal"  >
                    <%if(userdata.author=='admin'){%>

                    <h2>Thông tin tài khoản</h2>

                    <% include ./partials/messages.ejs%>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail" style="font-size:16px;">Tài khoản: </label>

                        <div class="controls">
                            <label class="control-label" name="username"><%=account_list.username%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Tên: </label>

                        <div class="controls">
                            <label class="control-label" name="name"><%=account_list.name%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Email: </label>

                        <div class="controls">
                            <label class="control-label" name="email"><%=account_list.email%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Điện thoại: </label>

                        <div class="controls">
                            <label class="control-label" name="phone"><%=account_list.phone%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Địa chỉ: </label>

                        <div class="controls">
                            <label class="control-label" name="address"><%=account_list.address%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Quyền: </label>

                        <div class="controls">
                            <label class="control-label" name="author"><%=account_list.author%> </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"style="font-size:16px;">Trạng thái: </label>

                        <div class="controls">
                            <%if(account_list.locked==true){%>
                            <label class="control-label" name="author">Khóa </label>
                            <%}%>
                                <%if(account_list.locked==false){%>
                                    <label class="control-label" name="author">Mở </label>
                                <%}%>
                        </div>
                    </div>


                    <%if(userdata.author!='admin'){%>
                    <h3 style="color:red;">Bạn không có quyền này</h3>
                    <%}%>

                    <%}%>

                </form>


            </div>


        </div>

        <!--


 </div> //container

  <% include elements/copyright.ejs%>
  <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
  <-- Placed at the end of the document so the pages load faster -->
        <% include elements/script_end.ejs%>
    </div>
</div>
</body>
</html>
