
<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section

    -->
    <!--
    Body Section
    -->
    <div class="row">
        <% include elements/navbar.ejs%>
        <div class="span2"></div>
        <div class="span9">
            <div class="well">
                <form class="form-horizontal" action="/products/upload" enctype="multipart/form-data" method="post">
                    <h3>Thêm sản phẩm</h3>
                    <% include ./partials/messages.ejs%>

                    <div class="control-group">
                        <label class="control-label" for="name">Tên sản phẩm <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="name" placeholder="Tên của sản phẩm" value="<%=typeof productdata !=='undefined' ? productdata.nameProduct :''%>" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">Mô tả <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="description" placeholder="Mô tả sản phẩm" value="<%=typeof productdata !=='undefined' ? productdata.description :''%>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="category">Loại sản phẩm <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="category" placeholder="Đồng hồ, vòng tay, nhẫn, vòng cổ" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="color">Màu sắc <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="color" placeholder="Vàng, trắng, tím, xanh dương" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="sex">Giới tính <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="sex" placeholder="Nam, nữ" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="trademark">Nhãn hiệu <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="trademark" placeholder="Skymond Luxury, PNJ, DOJI, SJC" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="price">Giá<sup>*</sup></label>
                        <div class="controls">
                            <input type="number" name="price" placeholder="Giá của sản phẩm" value="<%=typeof productdata !=='undefined' ? productdata.price :''%>" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="quantity">Số lượng <sup>*</sup></label>
                        <div class="controls">
                            <input type="number" placeholder="Số lượng sản phẩm" name="quantity" value="<%=typeof productdata !=='undefined' ? productdata.quantity :''%>" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="thumbnail">Ảnh <sup>*</sup></label>
                        <div class="controls">
                            <input type="file" name="thumbnail" multiple="multiple" value="<%=typeof productdata !=='undefined' ? productdata.thumbnail :''%>" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="exclusive shopBtn">Thêm</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>

        <!--


 </div> //container

  <% include elements/copyright.ejs%>
  <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
  <-- Placed at the end of the document so the pages load faster -->
        <% include elements/script_end.ejs%>
    </div>
</div>
</body>
</html>

<!--<form action="/upload" enctype="multipart/form-data" method="post">

    <input type="text" name="title" /><br/>
    <input type="file" name="upload" multiple="multiple" /><br/>
    <input type="submit" value="Upload" />
</form>-->

