<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>

</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">

        <div class="well well-small">
            <h1>Sản phẩm gian hàng<small class="pull-right"><%=products.length%> sản phẩm </small></h1>
            <hr class="soften"/>

            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Tình trạng</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <%if(userdata.author === 'shop'){%>
                        <th>Chi tiết sản phẩm</th>
                    <%}%>

                </tr>
                </thead>
                <tbody>
                <%products.forEach(function(product){%>
                    <tr>
                        <td><img width="50" src="<%= product.thumbnail %>" alt=""><br>
                        <td><%= product.name %></td>
                        <td><%= product.description %></td>
                        <td><%= product.status %></td>
                        <td><%= product.price %></td>
                        <td><%= product.quantity %></td>
                        <%if(userdata.author === 'shop'){%>
                            <td><a href="<%= product.uriDetail %>">chi tiết</a></td>
                        <%}%>

                    </tr>
                <% }); %>
                </tbody>
            </table><br/>




        </div>

        <!--


    </div><-- /container -->

        <% include elements/copyright.ejs%>
        <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
        <!-- Placed at the end of the document so the pages load faster -->
        <% include elements/script_end.ejs%>
    </div>
</body>
</html>
